

.music-search-all {
    font-family: 'Lato', sans-serif;
}

.panel-default > .panel-heading {
    background-color: slategray;
    color: white;
}

.panel-heading h3{
    margin: 0px;
}


.no-padding{
    padding: 0px;
}

#albums-holder ul {
    margin: 0px;
}

#albums-holder ul li {
    border: 0px;
    border-bottom: 1px solid #ddd;
    margin-bottom: 0px;
}

#details-list{
    border: none;
}

#details-list li {
    font-weight: bold;
    border: none;
}

#details-list li span{
    font-weight: 400;
}

#song-list{
    margin-top: 15px;
}

#song-list li{
    padding-left: 0px;
    border-bottom: 1px solid #efefef;
    margin-bottom: 0px;
    font-weight: bold;
}

.song-name {
    margin-left: 15px;
}
