<!DOCTYPE html>
<html lang="en">

<head>

  <!-- Basic Page Needs
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <meta charset="utf-8">
  <title>Your page title here :)</title>
  <meta name="description" content="">
  <meta name="author" content="">

  <!-- Mobile Specific Metas
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- FONT
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <link href="//fonts.googleapis.com/css?family=Raleway:400,300,600" rel="stylesheet" type="text/css">
  <link href="https://fonts.googleapis.com/css?family=PT+Sans" rel="stylesheet">

  <!-- CSS
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <link rel="stylesheet" href="css/normalize.css">
  <link rel="stylesheet" href="css/skeleton.css">
  <link rel="stylesheet" href="css/custom.css">


  <!-- Favicon
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <link rel="icon" type="image/png" href="images/favicon.png">

</head>

<body>

  <!-- Primary Page Layout
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <main>
    <div class="container">
      <div class="row">
        <div class="twelve columns" id="top-image-holder">
          <img src="../images/small-top-logo.png">
        </div>
      </div>
      <div class="row">

        <div id="content-holder" class="twelve columns" style="margin-top: 25%">
          <div id="top-heading-box" class="row">
            <div class="seven columns">
              <section>
                <p>COMPLIMENTARY WEBINAR SPONSORED BY APPLIED </p>
                <p>WEBINAR: DISCOVER<br> IVANS EXCHANGE </p>

                <p>Thursday, August 6, 2015 <br> 2 p.m. ET
                  <br>
                  <u>Register Now</u>
                </p>
              </section>
            </div>

            <div class="five columns">
              <div id="top-heading-image">
                <img class "u-max-full-width" src="../images/top-heading-image.png">
              </div>
            </div>

          </div>
          <div id="bottom-body-box" class="row">
            <div id="left-side-text" class="seven columns">
              <h5 style="font-weight: bold"> Manage your download connections with IVANS Exchange</h5>
              <p> Join the webinar and learn about IVANS Exchange, a new online tool to view and manage your carrier download.
                IVANS Exchange offers acomprehensive view of your current and potential download activity with carriers to
                increase the efficiency and profitability of your agency</p>

              <p> Discover the benefits of IVANS Exchange: </p>

              <ul>
                <li>> <span style="font-weight: bold">Agency Connectivity Dashboard:</span> The graphical, customized dashboard
                  provides you with a single view into your current and available carrier download connections, download
                  transaction volume, and newly activated lines of business downloads by carrier </li>
                <li>> <span style="font-weight: bold">IVANS Connections Report:</span> A personalized report allows you to review
                  download connections that are inactive or have yet to be activated. Updated daily with the latest carrier
                  download offerings, you can customize the report to:</li>

                <ul>

                  <li>> Indicate available lines of business interest for future download </li>
                  <li>> Mark lines of business that are not currently available from select carriers but would be of interest
                    once available </li>
                  <li>> Note lines of business that you are actively choosing not to download and why </li>
                </ul>

                <li> > <span style="font-weight: bold">Agency Download Usage Reports:</span> Usage reports identify the number
                  of download transactions you are receiving per line of business and per carrier. </li>
              </ul>

              <p style="text-transform: uppercase">
                Register now and submit your questions to the presenters. </p>

              <p>
                <b>Can't attend the live event?</b> Register today and an on-demand recording of the webinar.
              </p>

            </div>

            <div id="right-side-form" class="five columns">
              <form id="my-form" action="thankyou.html">
                <!-- onsubmit="return validateForm()" -->
                <div class="row">

                  <p> Register for the event </p>

                  <div class="twelve columns">
                    <input class="u-full-width" type="text" placeholder="First Name" name="firstName" required>
                  </div>
                  <div class="twelve columns">
                    <input class="u-full-width" type="text" placeholder="Last Name" name="lastName" required>
                  </div>
                  <div class="twelve columns">
                    <input class="u-full-width" type="text" placeholder="Job Title" name="jobTitle" required>
                  </div>
                  <div class="twelve columns">
                    <input class="u-full-width" type="text" placeholder="Company Name" name="companyName" required>
                  </div>
                  <div class="twelve columns">
                    <input class="u-full-width" type="email" placeholder="Email Address" name="email" required>
                  </div>
                  <div class="twelve columns">
                    <input class="u-full-width" type="number" placeholder="Phone Number" name="phoneNumber" required>
                  </div>
                  <button id="submit-form-btn" class="button-primary submit-btn" type="submit">Register <img src="../images/Arrow.png"></button>
                  <br>
                  <span id="error-msg" style="color: red"></span>
              </form>
              </div>
            </div>
          </div>
        </div>
      </div>

      <footer class="row">
        <div class="six columns">
          <p> © 2015 Applied Systems, Inc.</p>
        </div>
        <div class="six columns">
          <img src="../images/AppliedLogo.png">
        </div>
      </footer>
  </main>

  <!-- End Document
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
</body>
<script src="js/actions.js"></script>
<script src="https://use.fontawesome.com/250d8ef9b6.js"></script>
</html>