<!DOCTYPE html>
<html lang="en">

<head>

    <!-- Basic Page Needs
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
    <meta charset="utf-8">
    <title>Your page title here :)</title>
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Mobile Specific Metas
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- FONT
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
    <link href="//fonts.googleapis.com/css?family=Raleway:400,300,600" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=PT+Sans" rel="stylesheet">

    <!-- CSS
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
    <link rel="stylesheet" href="css/normalize.css">
    <link rel="stylesheet" href="css/skeleton.css">
    <link rel="stylesheet" href="css/custom.css">


    <!-- Favicon
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
    <link rel="icon" type="image/png" href="images/favicon.png">

</head>

<body>

    <!-- Primary Page Layout
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
    <main style="height: inherit">
        <div class="container">
            <div class="row">
                <div class="twelve columns" id="top-image-holder">
                    <img src="../images/small-top-logo.png">
                </div>
            </div>
            <div class="row">

                <div id="content-holder" class="twelve columns" style="margin-top: 25%">
                    <div id="top-heading-box" class="row">
                        <div class="twelve columns">
                            <section id="confirmation-section">
                                <h2>Thank You <i class="fa fa-check" aria-hidden="true"></i>
                                </h2>
                                <h5> Your information has been submitted </h5>
                                <a class="button button-primary submit-btn" href="index.html">Return</a>
                            </section>
                        </div>
                    </div>

                </div>
            </div>
            <footer class="row">
                <div class="six columns">
                    <p> © 2015 Applied Systems, Inc.</p>
                </div>
                <div class="six columns">
                    <img src="../images/AppliedLogo.png">
                </div>
            </footer>
        </div>
    </main>

    <!-- End Document
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
</body>
<script src="js/actions.js"></script>
<script src="https://use.fontawesome.com/250d8ef9b6.js"></script>

</html>