
<div class="section-hero">
    <div class="hero">
        <div class="container">
            <img class="personal-image" src="~/Content/images/personal-image-small.jpg" alt="personal face image" />
            <div class="hero-text">
                <h1> Cristian Ventura </h1>
                <p> Web Developer </p>
            </div>
        </div>
    </div>
</div>

<div class="col-xs-12 large-holder no-padding">
    <div class="col-md-9 card-holder clearfix no-padding">
        <div class="col-xs-12 col-sm-6 card">
            <div class="card-details">
                <h3> <a href="Home/Skills">Skills</a></h3>
                <h5> Technology | Resume | About</h5>
                <hr />
                <h4> Get to know more about me and my <a href="Home/Skills">skills</a>.</h4>
            </div>
        </div>

        <div class="col-xs-12 col-sm-6 card">
            <div class="card-details">
                <h3> <a href="Home/Projects">Projects</a></h3>
                <h5> Source Codes </h5>
                <hr />
                <h4> Care to check out my latest Github <a href="Home/Projects">projects</a>?</h4>
            </div>
        </div>
        <div class="col-xs-12 col-sm-8 card">
            <div class="card-details">
                <h3> <a href="Home/Projects">Recent Projects</a></h3>
                <hr />
                <h4> Lye Calculator </h4>
                <br />
                <p>Lye calculator that helps you determine how much lye you need for your next soap recipe.</p>
                <a href="https://github.com/cristventcode/LyeCalculator" target="_blank" class="btn btn-sm btn-default">Github</a>
                <hr />
                <h4> Basic Text Editor </h4>
                <br />
                <p>
                    Using JavaScript and jQuery to create a simple online text editor
                </p>
                <a href="https://github.com/cristventcode/BasicTextEditor" target="_blank" class="btn btn-sm btn-default">Github</a>
                <hr />
                <h4> Quiz Web App </h4>
                <br />
                <p>
                    Web app that allows a user to create and manage quizzes. They can play these quizzes as quiz games.
                </p>
                <a href="https://github.com/cristventcode/QuizWebAppV2" target="_blank" class="btn btn-sm btn-default">Github</a>
            </div>
        </div>
        <div class="col-xs-12 col-sm-4 card">
            <div class="card-details">
                <h3 class="text-center"> <a href="~/Projects/LyeCalculator">Lye Calculator</a></h3>
                <hr />
                <a href="~/Projects/LyeCalculator"><img src="~/Content/images/lye-phone.png" class="img-responsive lye-cal-image" /> </a>
</div>
        </div>
    </div>
    <div class="col-xs-12 col-md-3 aside-holder no-padding">
        <div class="card-details">
            <ul class="list-group">
                <li class="list-group-item list-group-item-heading"> Resume | Contact </li>
                <li class="list-group-item list"> <i class="fa fa-phone contact-icons" aria-hidden="true"></i>678-933-1047</li>
                <li class="list-group-item list"> <i class="fa fa-envelope contact-icons" aria-hidden="true"></i>cristventcode@gmail.com</li>
                <li class="list-group-item list"> <a href="~/Content/resume/CristianVentura-resume.pdf" target="_blank"><i class="fa fa-file contact-icons" aria-hidden="true"></i>Resume</a></li>
                <li class="list-group-item list-group-item-heading"> Account Links </li>
                <li class="list-group-item list text-center">
                    <a class="skill-tag link-tag" target="_blank" style="color: white" href="https://github.com/cristventcode"><i class="fa fa-github-square fa-2x" aria-hidden="true"></i> </a>
                    <a class="skill-tag link-tag" target="_blank" style="color: white" href="https://www.linkedin.com/in/cristian-ventura-485074139/"><i class="fa fa-linkedin-square fa-2x" aria-hidden="true"></i> </a>
                </li>
                <li class="list-group-item list-group-item-heading"> Latest Github Repository </li>
                <li class="list-group-item list"> <a href="https://github.com/cristventcode/BasicTextEditor" target="_blank"><i class="fa fa-file-text contact-icons" aria-hidden="true"></i>Basic Text Editor</a></li>
            </ul>
        </div>
    </div>
</div>
